<h1>Your Items</h1>
<a href="http://localhost:3000/">Dashboard</a>
<%= link_to "New Item", new_item_path %>
<% @items.each do |i| %>
	<hr>
	<ul>
		<li><%= i.name %></li>
		<li><%= i.description %></li>
		<% if i.stolen? %>
			<li style="color: red;"><%= "Stolen" %></li>
		<% end %>
			
		<p><%= link_to "Edit", edit_item_path(i) %></p>
		<p><%= link_to "Delete", i, :confirm => "Are you sure?", :method => :delete %></p>
	</ul>
<% end %>